@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,600;0,700;0,800;1,400&display=swap');

*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* =============================Common Style===================================
============================================================================ */

/* ========Common Heading Style========= */
.com-heading-stl{
    font-size: 48px;
}
/* ========Common Peragraph Style========= */
.com-para-stl{
    font-size: 224px;
    color: #534C64;
}

.com-gradiant-color{
    background-image: linear-gradient(180deg, #DA4CC3, #A554E1);
    font-size: 48px;
    color: transparent;
    -webkit-background-clip: text;

}

/* =============================Header Section Style=================================== */
.nav-container{
    display: flex;
    max-width: 1440px;
    margin: auto;
    padding:20px 0px;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    width:50%;
}
.nav-left-container{
    display: flex;
    gap:30px;
}
.nav-right{
    display: flex;
    gap:30px;
    align-items: center;
}
.nav-right a{
    color:#534C64;
    text-decoration: none;
    font-size: 24px;
}
.youtube-icon{
    color:red;
}
.tiktok-icon{
    color:blueviolet;
}
.follow-btn-container{
    display: flex;
    gap:20px;
    background-color: #E7E6E9;
    border-radius: 8px;
    padding:10px 10px;
}
.nav-right>a:hover{
    color:#e75ad4
}
.nav-right i:hover{
    color:#AA40AE
}
/* =============================Banner Section Style=================================== */
.bnr-sec{
    background-image: linear-gradient(90deg,#c290e4, #cfc8c8);
    height: 100vh;
    align-items: center;
    display: flex;
    
}
.bnr-conti{
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
}

.bnr-left{
    width: 50%;
    padding:70px;

}
.goat{
    background-image: linear-gradient(180deg, #c547b0, #7632aa);
    font-size: 95px;
    color: transparent;
    -webkit-background-clip: text;

}
.bnr-icon-conti{
    margin-top: 30px;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap:10px;
}
.bnr-icon-conti p{
    display: flex;
    gap:20px;
}
.bnr-icon{
    font-size: 20px;
    color:red;
    display:flex;
    gap:10px;
    text-align: center;
}

.bnr-btn{
    display: flex;
    margin-top: 30px;
    gap:20px;

}
.bnr-btn-left{
    padding:15px 30px;
    background-color: #FF42A5;
    color:white;
    border:none;
    border-radius: 15px;
    font-size: 20px;
}
.bnr-btn-right{
    padding:15px 25px;
    background-color: #4EC5F7;
    color:white;
    border:none;
    border-radius: 15px;
    font-size: 20px;
}
.bnr-right img{
    width:100%;
}
/* =============================Gamer Section Style=================================== */
.gamer-sec{
    background-color: #f6eef1;
    height:60vh;
    display:flex;
}
.gamer-sec-conti{
    display:flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    padding: 95px 0px;
}
.gamer-sec-left{
    width:50%;
    display: flex;
    align-items: center;
}

.gamer-sec-left img{
    display:flex;
    width:150%;
    align-items: center;
}
.gamer-sec-right{
    text-align: right;
}
.gamer-sec-right h1{
    font-size: 48px;
}
.gamer-content-top{
    display:block;
    padding-left:50%;
    margin:15px 0px;
}.gamer-sec-right button{
    padding:15px;
    margin:10px 0px;
}
.gamer-content-bottom{
    text-align: left;
    width:120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:85%
}

/* =============================Online Game Section Style=================================== */
.online-game-sec-conti{
    max-width: 1440px;
    text-align: center;
    padding:90px 0px;
    margin: auto;
}
.online-game-heading{
    font-size: 48px;
}
.online-game-sec-conti p{
    font-size: 20px;
    color:#534C64;
    padding:10px 0px;
    white-space:pre-wrap;
    display: block;
}
.online-game-card-conti{
    display: flex;
    padding: 40px 0px;
    flex-wrap: wrap;
    gap:16px;
    border-radius: 8px;
    justify-content: space-around;
    margin: auto;
}
.online-game-card{
    position:relative;
}
.online-game-card img{
    width:102%;
    height: auto;
}
.game-play-icon{
    border: 3px red solid;
    border-radius: 12px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:84%;
    position:absolute;
    top:0px;
    color: #faf7fa;
    opacity: 0;   
}
.play-now{
    color:#d7a5c5;
    font-size:36px;
    font-weight: bold;
}
.game-play-icon:hover{
    opacity: 1;
    background-color: #0b022342;  
}
/* =============================Play Game Section Style=================================== */
.play-game-sec{
    margin-bottom: 160px;
}
.play-game-conti{
    max-width: 1440px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap:50px;
}
.play-game-conti-left{
    max-width: 60%;
    align-items: center;
}
.play-game-mimg {
    position: relative;
   
}
.play-game-cimg img{
    position: absolute;
    bottom:-25%;
    right: -25%;;
}

.play-games-conti-right{
    padding-left:12%;
}
.play-games-conti-right p{
    padding: 15px 0px;
    font-size: 20px;
}
/* ===============================Game List Sction============================================ */
.game-list-sec{
    background-color: #ded6f0;
    margin-top: 40px;
    
}
.game-list-btn-conti{
    max-width:1440px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap:60px;
    padding:120px 0px;
}

.game-list-btn{
    display: flex;
    align-items: center;
    gap:10px;
    border: none;
    color:black;
    text-decoration:none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.game-list-btn a{
    color:black;
    text-decoration:none;
    font-size:24px;
}
.game-list-btn:hover{
    background-color: #dbaaed81;
    border: 1px black solid;
    border-radius: 25px;
}
.footer-sec{
    background-color:#0B0223; ;
}
.footer-conti{
    padding:120px 0px;
    max-width: 1440px;
    display:flex;
    margin:auto;
    flex-direction: column;
    align-items: center;
    gap:40px;
}
.footer-logo{
    display:flex;
    gap: 20px;
    padding:30px 0ps
}
.footer-logo-text-2{
    color:white;
}
.footer-menu{
    display:flex;
    gap:40px;
}
.footer-menu a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.footer-icon-conti{
    display: flex;
    gap:40px;
}
.policy a{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;;
    font-size: 20px;
    text-decoration: none;
    padding:30px
}
.copyright{
    color:rgba(255, 255, 255, 0.60);
    font-size: 16px;
}
.footer-conti a:hover{
    color:#DA4CC3
}
.footer-conti img:hover{
    background-color:#aa40ae6d;
    border:none;
    border-radius: 10px;
}
button:hover{
    color:#AA40AE;
}

/* =============================Respnsive Design===================================
===================================================================================*/

                                /* ==For-Tablet== */
@media screen and (max-width: 820px) {
.nav-container{
    flex-direction: column;
    gap:20px;
    align-items: center;
    padding-top: 50px;
}
.nav-left-container{
    justify-content: center;
}
.bnr-btn-left{
    padding:12px 20px;
    font-size: 16px;
}
.bnr-btn-right{
    padding:12px 20px;
    font-size: 12px;
}
.goat{
    font-size:40px;
}
.bnr-heading h2{
    font-size: 28px;
}
.gamer-sec{
    height: auto;
}
.gamer-sec-conti{
    flex-direction: column;
    margin:auto
}
.gamer-sec-left{
    width:100%;
}
.gamer-sec-right{
    width:100%;
    text-align: center;
}
.gamer-content-top{
        padding:0px;

}
.gamer-content-bottom{
    margin:auto;
    padding:15px 0px 0px 0px;
}
.gamer-sec-left img{
    width:100%;
}
.play-game-conti{
    flex-direction: column-reverse;
    align-items: center;
    width:90%;
    padding:0px;
}
.play-game-conti-left{
    width:100%;
    padding:0px;
}
.play-game-conti-right p{
    text-align: justify;
   
    
}
.play-game-mimg img{
    width:100%;
}
.play-game-cimg img{
    width:50%;
}
.game-list-btn a{
    text-decoration:none;
    font-size:14px;
   }
.game-list-btn-conti{
    gap:10px;
    padding:50px 0px;
    align-items: justify;
    
    
   }
    .game-list-btn-conti img{
        width:30px;
    }
    .policy{
        padding:0px;
        
    }
    .policy a{
        font-size: 1px;
        padding:10px
    }

}

                                /* ==For-Mobile== */
@media screen and (max-width: 425px) {
    .nav-container{
       flex-direction:column; 
       gap:30px;
       margin: auto;
       width:100%;     
    }
    .nav-left{
        flex-direction: column;
        width:100%;
        margin: auto;
    }
    .nav-left-container{
        justify-content: center;
    }
    .nav-logo{
        width:60px;
    }
    .nav-right{
        flex-direction: column;
        align-items: center;
    }
    .bnr-sec{
        margin-top:40px;
        height: auto;
    }

    .bnr-conti{
        flex-direction: column-reverse;
        width:80%;
        margin:auto;
    }
    .bnr-left{
        width: 100%;
        margin: 30px auto;
        padding:0px;
    }
    .bnr-right{
        width: 100%;
        margin: auto;
    }
    .bnr-right img{
        width: 100%;
        text-align: center;
    }
    .bnr-btn-left{
        padding:12px 20px;
        font-size: 16px;
    }
    .bnr-btn-right{
        padding:12px 20px;
        font-size: 12px;
    }
    .goat{
        font-size:3dvb;
    }
    .bnr-heading h2{
        font-size: 28px;
    }

    .gamer-sec-conti{
        flex-direction: column;
        max-width: 90%;
        margin: auto;
    }
    .gamer-sec-left{
        width:100%;
    }
    .gamer-sec-right{
        width:100%;
        text-align: center;
    }
    .gamer-content-top{
        padding:0px;
    }
    .gamer-content-bottom{
        margin:auto;
        padding:15px 0px 0px 0px;
    }
    .gamer-h1-bottom{
        font-size: ;
    }
    .gamer-sec-left img{
        width:100%;
    }

   .online-game-sec-conti h1, .online-game-heading{
    font-size: 26px;
   }
   .online-game-sec-conti p{
    font-size: 12px;
   }
   .play-game-conti{
    flex-direction: column-reverse;
   }
   .play-game-conti-left{
    width:100%
   }
   .play-game-mimg img{
    width:100%;
   }
    .play-game-cimg img{
        width:50%;
    }
   .play-games-conti-right{
    width:100%;
    padding:0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
   }
   .game-play-icon{
   
    width: 100%;
    height:87%;
     
   }

   .game-list-btn a{
    text-decoration:none;
    font-size:12px;
   }
   .game-list-btn-conti{
    gap:10px;
    padding:50px 0px;
    align-items: center;
    
   }
    .game-list-btn-conti img{
        width:20px;
    }
    .footer-menu a{
        color: white;
        font-size: 16px;
        text-decoration: none;
    }
    .footer-menu{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:15px
    }
    .footer-icon-conti{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        padding:0px;
        margin: 0px;
        justify-content:center;
        text-align: center;
    }
    .policy a{
        font-size: 14px;
        padding:0px;
    }
    .policy{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        gap:10px;
    }
    .copyright{
        text-align: center;
        width:57%
    }

}

